################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SwiftForVisualStudio/v14/.suo
/SwiftForVisualStudio/obj
/SwiftForVisualStudio/bin
/SwiftForVisualStudio/SwiftForVisualStudio.csproj.user
*.suo
/SwiftForVisualStudioVsix/bin/Debug
/SwiftForVisualStudioVsix/bin/Release
/SwiftForVisualStudioVsix/obj
